*{
    margin-left: 0cm;
    padding-left: 0in;
    background-color: rgb(160, 175, 189);
}

.text p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
form{
    display:grid;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;

}
.pictures{
    width: 100%;
    height: 600px;

    margin: 10px auto;
   

}
.pictures img{
    display:grid;
    grid-row:auto;
    width :100%;
    height : 100%;
}
.poster1{
    object-fit: contain;
    float: left;
    z-index:10;
}
.poster2{
    object-fit: contain;
    float: left;
    z-index:20;
}
.poster3{
    object-fit: contain;
    float: left;
    z-index:30;
}